<!DOCTYPE html>
<html>
<head>
	<title>Ipmotor</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Two" rel="stylesheet">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'web2/css/style.css' %}"  type="text/css">
	<link rel="stylesheet" href="{% static 'web2/css/normalize.css' %}"  type="text/css">

</head>
<body>
	<div class="start">
		<div class="wrapper">
			<div class="start1">
				<a href="{% static 'word/documents/a.docx' %}" > epo </a>
				<p><img src="{% static 'web2/images/Gala-Logo.png' %}" width="200" alt=""></p>
				<h2>+7 (747) 193 60 82</h2>
			</div>
			<div class="start2">
				<div class="start21">
				<h1>Camping from Bonjour</h1>

				<p>Оставьте заявку и наш мастер бесплатно проконсультирует вас по поводу выбора жалюзи для вашего дома</p>
				</div>
			</div>
			<div class="start3">
				<div class="plusy">
					<div class="plus">
						<div class="n">
							1
						</div>
						<p>
							Гарантия на 24 месяца
						</p>
					</div>
					<div class="plus">
						<div class="n">
							2
						</div>
						<p>
							Бесплатный замер с выездом
						</p>
					</div>
					<div class="plus">
						<div class="n">
							3
						</div>
						<p>
							Цены ниже, чем на рынке
						</p>
					</div>
				</div>
				<div class="start_form">
					<h2>Оформить заявку</h2>
					<div class="form1">	
						<input type="text" name="name" placeholder="Имя...">
						<input type="phone" name="phone" placeholder="Номер телефона...">
						<button class="sectSubmitBtn"><a href="/contact">Отправить</a></button>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="catalog acces">	
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
<script src="js/script.js"></script>
</html>